<nav>
    <div class="nav-logo">
        <h1 class="innove">INNOVE<span class="x">X</span></h1>
        <p>COMPETE INNOVATE CONQUER</p>
    </div>

    <div class="nav-buttons">
        <% if (locals.currentPage==='/' ) { %>
            <!-- Volunteer Button -->
            <a href="/volunteer">
                Volunteer
            </a>
            <% } else if (locals.currentPage==='/volunteer' ) { %>
                <a href="/">
                    Register
                </a>
                <% } %>
    </div>
</nav>