<nav>
    <div class="nav-logo">
        <h1 class="innove">INNOVE<span class="x">X</span></h1>
        <p>COMPETE INNOVATE CONQUER</p>
    </div>

    <div class="nav-buttons">
        <% if (locals.currentPage === '/') { %>
            <a href="/login">Volunteer</a>
        <% } else if (locals.currentPage === '/login') { %>
            <a href="/">Register</a>
        <% } else if (locals.currentPage === '/dashboard') { %>
            <button id="logoutBtn" class="btn-logout">LOGOUT</button>
        <% } %>
    </div>
</nav>