@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: "Baron";
    src: url('../fonts/Baron.otf');
}

@font-face {
    font-family: "Blanka";
    src: url('../fonts/Blanka.otf');
}


:root {
    --font-lexend: "Lexend", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-baron: "Baron";
    --font-blanka: "Blanka";

    --cyon-color: cyan;
}



/* Navbar */
nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em 0.8em 6em;

    background-color: rgba(255, 255, 255, 0.008);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 50
}

.nav-logo .innove {
    font-size: 2.4em;
    font-family: var(--font-baron);
    color: #fff;
}

.nav-logo .x {
    font-family: var(--font-blanka);
    padding-left: 3px;
    color: var(--cyon-color);
    background-clip: text;
}

.nav-logo p {
    font-family: var(--font-jetbrains);
    font-size: 0.6em;
    color: #fff;
    padding-top: 0.5em;
}

.nav-buttons a {
    padding: 0.5em 2em;
    background-color: #fff;
    color: #000;
    border: none;
    text-decoration: none;
    font-family: var(--font-lexend);
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px));
}




/* Main */
.background-svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content {
    width: 40%;
    height: auto;
    padding-top: 1.5em;
}

.container .content h1 {
    font-family: var(--font-baron);
    color: #fff;
}


/* Registration Form */
form {
    padding-bottom: 4em;
}

.content form,
#dynamic-fields-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

#dynamic-fields-container {
    margin-top: -1.8em;
}

.content form label {
    font-family: var(--font-lexend);
    color: var(--cyon-color);
    font-weight: 400;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

.content form input,
select {
    font-family: var(--font-lexend);
    font-size: 1em;
    font-weight: 400;
    padding: 0.7em;
    border: 1px solid #000;
    border-radius: 0.3em;
    background-color: rgba(0, 255, 255, 0.092);
    border: 1px solid rgba(0, 243, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);

    color: var(--cyon-color);
    margin-bottom: 1em;
}

select option {
    background-color: rgba(0, 255, 255, 0.284);
    color: #121212;
}


select:focus,
input:focus {
    outline: none;
}

input::placeholder {
    color: rgba(0, 255, 255, 0.325);
}


.payment-info {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgba(0, 255, 255, 0.092);
    border: 1px solid rgba(0, 243, 255, 0.2);
    border-radius: 0.3em;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 243, 255, 0.2);

    margin-bottom: 1.5em;
}

.payment-info p {
    font-family: var(--font-lexend);
    color: #fff;
    padding-bottom: 1.2em;
    font-size: 1em;
    letter-spacing: 1px;
}

.payment-info h4 {
    text-align: center;
    font-family: var(--font-jetbrains);
    color: var(--cyon-color);
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 0em;
    line-height: 1.5em;
}

.consent {
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 0.7em 0 1.5em 0;
}

.consent input {
    accent-color: var(--cyon-color);
}

.consent p {
    font-family: var(--font-lexend);
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--cyon-color);
}

.btn-primary {
    margin-top: 2em;
    font-family: var(--font-jetbrains);
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.7em 3em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background: var(--cyon-color);
    color: #000;
    font-weight: 500;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px));
}

.footer-note {
    font-family: var(--font-lexend);
    text-align: center;
    padding-bottom: 2em;
    color: #fff;
}

.footer-note a {
    color: var(--cyon-color);
}


/* MODAL */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 4, 8, 0.85);
    backdrop-filter: blur(8px);
    z-index: 20;
    justify-content: center;
    align-items: center;
    padding: 1em;
}


.modal-content {
    position: relative;
    padding: 2em 1em 2em 1em;
    background: rgba(0, 243, 255, 0.04);
    border: 1px solid rgba(0, 243, 255, 0.2);
    backdrop-filter: blur(2px);
    height: fit-content;
    clip-path: polygon(20px 0,
            100% 0,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            0 100%,
            0 20px);

    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: modalAppear 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}


.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: repeating-linear-gradient(0deg,
            transparent,
            transparent 2px,
            rgba(0, 255, 136, 0.05) 3px);
    pointer-events: none;
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
}


.modal-header {
    width: 100%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header h2 {
    text-align: center;
    font-family: var(--font-lexend);
    color: #36cc00;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.modal-content p {
    font-family: var(--font-lexend);
    color: var(--cyon-color);
    text-align: center;
}

.whatsapp-section {
    margin: 2rem 0;
    padding: 1rem;
}

.whatsapp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    background: #19c95a;
    color: rgb(14, 11, 11);
    text-decoration: none;
    padding: 0.6em 1em;
    font-weight: bold;
    border-radius: 0.3em;
    margin-top: 2em;
    transition: transform 0.3s ease;
    font-family: var(--font-lexend);
    font-weight: 500;
    margin-bottom: -2em;
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px));
}

.whatsapp-btn svg {
    width: 28px;
    fill: white;
}





/* LOGIN PAGE */
.login-content {
    margin-top: 8em;
}










@media (max-width: 768px) {
    nav {
        padding: 1em;
    }

    .nav-logo .innove {
        font-size: 1.8em;
    }

    .nav-logo p {
        font-size: 0.47em;
        padding-top: 0.1em;
    }

    .nav-buttons a {
        padding: 0.5em 1.3em;
    }

    /* Registration */
    .container .content {
        width: 100%;
        padding: 1em;
    }

    .container .content h1 {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .container .content form {
        margin-top: -0.8em;
        padding-bottom: 2.5em;
    }

    .consent p {
        font-size: 0.7em;
    }

    .btn-primary {
        margin-top: 0.5em;
    }
}